/*
/*/

!/.gitignore
!/NEWS.md
!/README.md
!/start.sh
!/stop.sh

!/.github
/.github/*
!/.github/workflows/
/.github/workflows/*
!/.github/workflows/*.yml

!/data/
/data/*
!/data/budibase
/data/budibase/*
!/data/budibase/budibase-client.js
!/data/budibase/db.txt
!/data/budibase/manifest.json
!/data/db
/data/db/*
!/data/db/init.sql
!/data/db/pgadmin_db_backup_with_data.sql
!/data/db/pgadmin_db_schema.json
!/data/db/pgadmin_db_schema.png
!/data/db/pgadmin_servers.json
!/data/db/test.sql
!/data/db/time_efforts.csv

!/docker/
/docker/*
!/docker/*_docker-compose.yaml
!/docker/budibase.env
!/docker/postgres.env
!/docker/start_budibase_dev.sh
!/docker/start_postgres_dev.sh
!/docker/stop_budibase_dev.sh
!/docker/stop_postgres_dev.sh

!/.env

## Ignore all log-related files:
**/*[Ll]og*
**/*.log
