/*
/*/

!/.gitignore
!/NEWS.md
!/README.md

!/.github
/.github/*
!/.github/workflows/
/.github/workflows/*
!/.github/workflows/*.yml

!/data/
/data/*
!/data/init.sql
!/data/pgadmin_db_schema.json
!/data/pgadmin_db_schema.png
!/data/pgadmin_servers.json
!/data/test.sql

!/docker/
/docker/*
!/docker/*_docker-compose.yaml

!/.env

## Ignore all log-related files:
**/*[Ll]og*
**/*.log
